
<div ng-controller="ShowGoalsettersCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div id="messages" class="alert alert-{{alertStatus}}" ng-show="messages">
                <span ng-bind="messages"></span>
                <i class="dismiss-messages pull-right glyphicon glyphicon-remove" ng-click="messages = ''"
                   ng-show="messages"></i>
            </div>
            <img class="spinner" src="/img/ajax-loader.gif" ng-show="loading"/>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h3>Show GoalSetters</h3>
        </div>
    </div>

    <tabset id="show-clients-tab" justified="true">
        <tab select="tabAllSelected()" heading="All Goalsetters"></tab>


    </tabset>

    <div class="list-group" ng-repeat="Goalsetter in goalsetters">
        <a href="#/profile" class="list-group-item active">{{Goalsetter.name}}</a>


    </div>



</div>
        
        

